.App {
  text-align: center;
  background-color: #f65ac7;
}
.username{
  width: 100px;
  height: 25px;
  background-color: #a4e3f2;
  border-color: #2d07ed;
  border-width: 3px;
}

.password{
  width: 100px;
  height: 25px;
  background-color: #9be8fc;
  border-color: #8205fe;
  border-width: 3px;
}

.button{
  width: 100px;
  height: 50px; 
  left: 1000px;
  border-width: 10px;
  border-color: rgb(53, 234, 17);
  background-color: #fefefe;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
